* {
    font-family: sans-serif;
    padding: 10px;
    background: lightskyblue;
}

button {
    background: yellow;
    color: black;
}
select {
    background: yellow;
    color: black;
}

table {
  display: block;
}

td {
  border: 1px solid black;
}